@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <div id="game"></div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/frameworks")

    
<script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/elvencurse")

}

@section header
{
    <style>
        .container {
            width: auto;
        }
    </style>
}
