@using ElvenCurse.Core.Model.Creatures
@model dynamic

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";

    var c = new CharacterAppearance
    {
        Sex = Sex.Female,
        Body = Body.Light,
        Ears = Ears.Elvenears,
        Eyecolor = Eyecolor.Blue,
        Nose = Nose.Default,
    };
    //c.Facial.Type = Facial.FacialType.Beard;
    //c.Facial.Color = Facial.FacialColor.Brown;
    c.Hair.Type = Hair.HairType.Ponytail;
    c.Hair.Color = HairColor.Brunette;
    var standardGirl = Newtonsoft.Json.JsonConvert.SerializeObject(c);
}

<div id="characterpreview" data-url="/charactersprite?t=@DateTime.Now.Ticks" style="display: none;"></div>

<h2>title</h2>
<input type="text" value="@standardGirl"/>

<div class="row" style="font-family: verdana;">
    <div class="col-md-3">
        <div id="game"></div>
    </div>
    <div class="col-md-9">
        <img src="/charactersprite?t=@DateTime.Now.Ticks" width="5000" />
    </div>
</div>



@section scripts
{
    <script src="~/Sitescriptes/Phaser2.6.1/phaser.js"></script>
    <script src="~/Sitescriptes/Charactermodel/Charactermodel.js"></script>

    <script>
        var imgPath = '/charactersprite?t=@DateTime.Now.Ticks';

        $(function(){
            var game = new Phaser.Game(300, 300, Phaser.CANVAS, "game");
            game.state.add("ShowCharacter", Charactermodel.ShowCharacter);
            game.state.start("ShowCharacter");
        });
        

    </script>}
}
