################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Elvernes forbandelse/ElvenCurse.Website/App_Data
