<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ElvenCurse.Website-20160814102741.mdf;Initial Catalog=aspnet-ElvenCurse.Website-20160814102741;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=dev.bookhus.dk;Initial Catalog=ElvenCurse;Integrated Security=false;uid=ElvenCurse;pwd=ElvenCurse" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- netsh http add urlacl url=http://localhost.elvencurse.dk:1234/ user=martin@martinnyhjem.dk for at tillade at køre uden admin rettigheder -->
  <appSettings>
    <add key="serverPath" value="http://localhost:1234" />
    <add key="cryptokey" value="892B80BF193761F28EF65D2CF7FCE39EBA88CF5ADFC96C80"/>
  </appSettings> 
  
  <system.web>
    <!-- app.config for OWIN Host - Only used for compatibility with existing auth ticket. -->
    <machineKey decryptionKey="892B80BF193761F28EF65D2CF7FCE39EBA88CF5ADFC96C80" validationKey="08705F749ADC19C924FCCF99A9D4D351F094C1F748D9CB7C454E51E9A504F0FC3F081FD19459A74DF99737A21B59DC7F6F34A5632CAE50CAABAEF03E044EB038" />
  </system.web>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>