@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div id="game"></div>
    </div>
</div>


@*@section scripts
{
<script src="~/Sitescriptes/phaser.js"></script>
<script src="~/Sitescriptes/ElvenCurse/Game.js"></script>
<script src="~/Sitescriptes/ElvenCurse/StatePreloader.js"></script>
<script src="~/Sitescriptes/ElvenCurse/StateGameplay.js"></script>
}*@
